<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>

  <appSettings>
    <!-- To enable internal log4net logging specify the following appSettings key -->
    <!-- <add key="log4net.Internal.Debug" value="true"/> -->
  </appSettings>

  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <logger name="Default">
      <level value="ALL"/>
      <appender-ref ref="DefaultFileAppender" />
      <appender-ref ref="DefaultErrLogAppender" />
    </logger>
    <logger name="Min5Log">
      <level value="ALL"/>
      <appender-ref ref="Min5LogAppender" />
      <appender-ref ref="Min5ErrLogAppender" />
    </logger>
    <logger name="DayKLog">
      <level value="ALL"/>
      <appender-ref ref="DayKLogAppender" />
      <appender-ref ref="DayKErrLogAppender" />
    </logger>
    <logger name="IndexLog">
      <level value="ALL"/>
      <appender-ref ref="IndexLogAppender" />
      <appender-ref ref="IndexErrLogAppender" />
    </logger>
    <logger name="IndexAnalyLog">
      <level value="ALL"/>
      <appender-ref ref="IndexAnalyAppender" />      
    </logger>


    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout" value="%date [%thread] %-5level %logger - %message%newline" />
    </appender>
    
    <appender name="DefaultFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LOG\log-file.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <!--<datePattern value="yyyyMMdd-HHmm" />-->
      <datePattern value="yyyyMMdd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="DefaultErrLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./LOG/" />
      <datePattern value="&quot;DefaultErr_&quot;yyyyMMdd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="Min5LogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./LOG/" />
      <datePattern value="&quot;Min5_&quot;yyyyMMdd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="Min5ErrLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./LOG/" />
      <datePattern value="&quot;Min5Err_&quot;yyyyMMdd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="DayKLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./LOG/" />
      <datePattern value="&quot;DayK_&quot;yyyyMMdd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="DayKErrLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./LOG/" />
      <datePattern value="&quot;DayKErr_&quot;yyyyMMdd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="IndexLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./LOG/" />
      <datePattern value="&quot;Index_&quot;yyyyMMdd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="IndexErrLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./LOG/" />
      <datePattern value="&quot;IndexErr_&quot;yyyyMMdd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="IndexAnalyAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./LOG/" />
      <datePattern value="&quot;IndexAnaly_&quot;yyyyMMdd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    
    <!-- Setup the root cat
    egory, add the appenders and set the default level -->
    <root>
      <!--
      <level value="ERROR" />      
      <appender-ref ref="FileAppender" />
      
      <appender-ref ref="Min5KLineLOG" />      
      <appender-ref ref="ConsoleAppender" />
      -->
    </root>
  </log4net>
</configuration>
