<?xml version="1.0" encoding="utf-8"?>
<APPTOOL>
  <!--服务器设置-->
  <Server>
    <add key="ip" value="localhost"/>
  </Server>
  <!--人员设置-->
  <User>
    <add key="dutyAfterVacation" value="2"/>
  </User>
	<!--数据库-->
	<DataBase>
    <DataBaseCurrentKey>stockdb</DataBaseCurrentKey>
    <DataBaseItem>
      <add key="DBID" value="stockdb"/>
      <add key="DBType" value="MYSQL"/>
      <add key="DBIP" value="127.0.0.1"/>
      <add key="DBPort" value="3306"/>
      <add key="DBConnName" value="DEV"/>
      <add key="DBName" value="stockdb"/>
      <add key="DBUser" value="root"/>
      <add key="DBPWD" value="123456"/>
      <add key="MaxConnNo" value="100"/>
      <add key="DBDesc" value="mysql 5.6.20"/>
    </DataBaseItem>
    <DataBaseItem>
      <add key="DBID" value="app_contentdb"/>
      <add key="DBType" value="MYSQL"/>
      <add key="DBIP" value="127.0.0.1"/>
      <add key="DBPort" value="3306"/>
      <add key="DBConnName" value="DEV"/>
      <add key="DBName" value="app_contentdb"/>
      <add key="DBUser" value="root"/>
      <add key="DBPWD" value="123456"/>
      <add key="MaxConnNo" value="100"/>
      <add key="DBDesc" value="mysql 5.6.20"/>
    </DataBaseItem>
  </DataBase>
</APPTOOL>